<section class="vh-100 d-flex justify-content-center align-items-center flex-column p-3">
<div class="h-75 d-flex justify-content-center align-items-center flex-column">
    <h1> Welcome to Expensify </h1>
    <p>Expense Tracking App</p>
  <img src="https://i.ibb.co/VT2fZGs/7053644.png" width="150" height="150" />
  </div>
          
        <%= link_to 'Login', new_user_session_path, class: "m-2 btn-lg btn btn-primary btn-blue-col border border-0 " %>
        <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-lg btn-primary btn-blue-col border border-0 " %>
      </section>
    
    
